$demo: var(--demo);
$primary: var(--primary);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$gray: var(--gray);
$err: var(--err);
$font: var(--font);
$bg: var(--bg);
$white: var(--white);

$signin-bg-1: var(--signin-bg-1);
$signin-bg-2: var(--signin-bg-2);

$bgm-layout-bg: var(--bgm-layout-bg);

$menu-bg: var(--menu-bg);
$menu-text: var(--menu-text);

$menu-hover-bg: var(--menu-hover-bg);
$menu-hover-text: var(--menu-hover-text);

$menu-active-bg: var(--menu-active-bg);
$menu-active-text: var(--menu-active-text);
