/* 要記得去scss/_colors.scss 添加 */
:root {
  --demo: #0baf2c;
  --primary: #354d7b;
  --secondary: #bae8fd;
  --tertiary: #3e86c1;
  --gray: #757575;
  --err: #EE5151;
  --font: #454545;
  --bg: #FDF9F2;
  --white: #fff;

  --signin-bg-1: #688bcd;
  --signin-bg-2: #0b0d13;

  --bgm-layout-bg: #d4d8da;

  --menu-bg: #354d7b;
  --menu-text: #fff;

  --menu-hover-bg: #3966a0;
  --menu-hover-text: #fff;

  --menu-active-bg: #3966a0;
  --menu-active-text: #fff;

}
:root.dark {
  --demo: #810b0b;
  /* TODO */
}
